{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/gameHome.css">
{% endblock %}

{% block content %}

    <header>
        <h1>Octogone !</h1>
    </header>
    <p>
        <button class="choose btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Choisissez votre combattant !
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <section class="section-home">
            <div class="contener-cards">
                {% for robot in robots %}
                    {% if robot.name == '' %}
                        <div class="card-vs">
                            <p class="card-text ">VS</p>
                        </div>
                    {% else %}
                        <div class="card-robot">
                            <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="/{{ robot.img }}" alt="Photo de Percy">
                                <div class="card-body">
                                <h5 class="card-title text-center" >{{ robot.name }}</h5>
                                <p class="card-text">Armes</p>
                                <ul class="attack">
                                    {% for attack in  robot.attacks %}
                                        <li>{{ attack }}</li>
                                    {% endfor %}
                                </ul>  
                                <a href="ReadyToGo/{{ robot.name }}" class="play btn btn-danger">Jouer avec {{ robot.name }}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        </div>
    </div>
    <div class="fighters-button">
        <a href="/home/index" class="fighters-return">← Retour à l'accueil</a>
    </div>
{% endblock %}
